﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div>
    <a href="/CarViewPage/InsertCar">Insert Car</a>
</div>

<div>
    <a href="/CarViewPage/DisplayCar">Display Car</a>
</div>

<div>
    <a href="/CarViewPage/InsertRental">Insert Rental</a>
</div>

<div>
    <a href="/CarViewPage/RentalIndexCar">Display Rental</a>
</div>
