<template>
    <div>
        <h1>Cancel Rental Page</h1>
        <form method="post">
            <fieldset disabled>
                <div v-model="rental">

                    <label for="disabledTextInput">Rent Id</label>
                    <input :placeholder="[[ rental.rentId ]]" type="text" id="disabledTextInput" class="form-control" />

                    <label for="disabledTextInput">Car Id</label>
                    <input :placeholder="[[ rental.carId ]]" type="text" id="disabledTextInput" class="form-control" />

                    <label for="disabledTextInput">Rent Time</label>
                    <input :placeholder="[[ rental.rentTime ]]" type="text" id="disabledTextInput" class="form-control" />
                    <br />
                </div>
            </fieldset>
            <button type="button" @click.prevent="cancelRent()" class="btn-danger">Cancel Rent</button>
        </form>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { GetARentalByIdResponse } from '../rest-api/models';
    import { Exam4 } from '../rest-api/exam4';
    import { carServiceSingleton } from '../services/carServices';

    @Component({
        props: ['id'],
        created: async function (this: DeleteRental) {
            await this.initialize();
        }

    })
    export default class DeleteRental extends Vue {
        id: number;
        carServiceState = carServiceSingleton;
        rental: GetARentalByIdResponse = {
            carId: null,
            rentId: null,
            rentTime: null,
            userId: null,
            _response: null
        };

        async initialize() {
            this.getARent();
        }

        async getARent() {
            console.log("getARent Running");
            let api = new Exam4({
                baseUri: window.location.origin
            });
            let result = await api.getARentalById(Number(this.id));
            let aRent = result._response.parsedBody;
            this.rental = result;
            console.log("getARent in edit vue : ", this.rental);
        }

        async cancelRent() {
            console.log(this.id);
            await this.carServiceState.cancelRent(Number(this.id));

            this.rental = {
                carId: null,
                rentId: null,
                rentTime: null,
                userId: null,
                _response: null
            };
            window.location.href = "https://localhost:44377/CarViewPage/RentalIndexCar";
        }


    }
</script>
