<template>
    <!--RentId, Username, Vehicle Registration Number, Brand, Type, Rent Time, Update & Delete Links.-->
    <div>
        <a href="/CarViewPage/InsertRental">Rental New Car</a>
        <h3>Rental Car List</h3>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="row">Rent ID</th>
                    <th scope="row">Username</th>
                    <th scope="row">Vehicle Number</th>
                    <th scope="row">Brand</th>
                    <th scope="row">Type</th>
                    <th scope="row">Rent Time</th>
                    <th scope="row">Update</th>
                    <th scope="row">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(rental, index) in rentals" :key="index">
                    <td>{{ rental.rentId }}</td>
                    <td>{{ rental.username }}</td>
                    <td>{{ rental.vehicleRegistrationNumber }}</td>
                    <td>{{ rental.brand }}</td>
                    <td>{{ rental.type }}</td>
                    <td>{{ rental.rentTime }}</td>
                    <td>
                        <button type="button" v-on:click="goToSite(rental.rentId)" id="productId" class="btn-primary">Update</button>
                    </td>
                    <td>
                        <button type="button" @click.prevent="cancel(rental.rentId)" id="productId" class="btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!--<div class="pagination">
            <button type="button" v-on:click="nextPage()" id="productId" class="pagination-sm"><</button>
            <button type="button" v-on:click="prevePage()" id="productId" class="pagination-lg">></button>
        </div>-->

    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { carServiceSingleton } from '../services/carServices';
    import { RentViewModel } from '../rest-api/models';

    @Component({
        //props: ['framework', 'compiler']
        created: async function (this: DisplayRental) {
            await this.initialize();
            //await this.carServiceState.updateVisibleRental();
            //await this.rentalsPagination;
        }
    })
    export default class DisplayRental extends Vue {
        //framework: string;
        //compiler: string;
        carServiceState = carServiceSingleton;
        visibleRental: RentViewModel[] = [];

        async initialize() {
            await this.carServiceState.getAllRent();
        }

        //get show() {
        //    return this.visibleRental;
        //}

        get rentals() {
            return this.carServiceState.rentals;
        }

        //get rentalsPagination() {
        //    this.carServiceState.updateVisibleRental;
        //    console.log("visible rental : ", this.carServiceState.rentals);
        //    this.visibleRental = this.carServiceState.visibleRentals;
        //    console.log("yang di page : ", this.visibleRental);
        //    return this.carServiceState.visibleRentals;
        //}

        //async cancel(id: number) {
        //    this.carServiceState.cancelRental(id);
        //    this.initialize();
        //}

        async goToSite(id: string) {
            var url = window.location.origin + "/CarViewPage/EditPage/" + id;
            window.location.href = url;
        }

        async cancel(id: string) {
            var url = window.location.origin + "/CarViewPage/DeleteRental/" + id;
            window.location.href = url;
        }

        //nextPage() {
        //    let currPage = this.carServiceState.currentPage;
        //    this.carServiceState.updatePage(currPage + 1);
        //}

        //prevePage() {
        //    let currPage = this.carServiceState.currentPage;
        //    this.carServiceState.updatePage(currPage - 1);
        //}

    }
</script>
