<template>
    <div>
        <h3>Car List</h3>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="row">Car ID</th>
                <th scope="row">Vehicle Registration Number</th>
                <th scope="row">Brand</th>
                <th scope="row">Type</th>
                <th scope="row">Image</th>
                <th scope="row">Image</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="(car,index) in cars" :key="index">
                    <td>{{car.carId}}</td>
                    <td>{{car.vehicleRegistrationNumber}}</td>
                    <td>{{car.brand}}</td>
                    <td>{{car.type}}</td>
                    <td>{{car.image}}</td>
                    <td>
                        <img :src="getImage(car.image)"
                             class="img-thumbnail rounded" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>


<script lang="ts">
    //type="application/javascript"
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import {carServiceSingleton} from "../services/carServices";

    @Component({
        created: async function (this: Display) {
            await this.initialize();
        }
    })
    export default class Display extends Vue {

        carService = carServiceSingleton;
        isLoading = true;
        imageLink:string = null;

        async initialize() {
            await this.carService.getCars();
        }

        get cars() {
            return this.carService.cars;
        }

        getImage(blobId: string){
            console.log(blobId);
            return `/api/v1/car/${blobId}`;
        }
    }
</script>
