<template>
    <div>
        <h2>Data Before Update</h2>
        <fieldset disabled>
            <div v-model="rental">
                <label for="disabledTextInput">Rent Id</label>
                <input :placeholder="[[ rental.rentId ]]" type="text" id="disabledTextInput" class="form-control" />

                <label for="disabledTextInput">Car Id</label>
                <input :placeholder="[[ rental.carId ]]" type="text" id="disabledTextInput" class="form-control" />

                <label for="disabledTextInput">Rent Time</label>
                <input :placeholder="[[ rental.rentTime ]]" type="text" id="disabledTextInput" class="form-control" />
                <br />
            </div>
        </fieldset>

        <h2>Update Data</h2>


        <form method="post">
            <div>
                <label>Brand : </label>
                <select class="custom-select" @change="initializeTypes()" v-model="keyBrand" id="asd">
                    <option v-for="brand in brands" v-bind:value="brand">{{brand}}</option>
                </select>
            </div>
           
            <div>
                <label>Type : </label>
                <select class="custom-select" @change="findCar()" v-model="keyType">
                    <option v-for="type in types" v-bind:value="type">{{type}}</option>
                </select>
            </div>
           
            <div>
                <fieldset disabled>
                    <label for="disabledTextInput">Car avalaible : </label>
                    <input v-model="car.vehicleRegistrationNumber" :placeholder="[[ car.vehicleRegistrationNumber ]]" type="text" id="disabledTextInput" class="form-control" />
                </fieldset>
            </div>
            
            <div>
                <label>Date : </label>
                <datetime type="datetime" v-model="datetime"></datetime>
                <br />
            </div>
           
            <div>
                <button class="btn-primary" type="button" @click.prevent="updateRent()">Update Rent</button>
            </div>
           
        </form>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { carServiceSingleton } from '../services/carServices';
    import { RentModel, GetARentalByIdResponse } from '../rest-api/models';
    import { Exam4 } from '../rest-api/exam4';
    import { Datetime } from 'vue-datetime';

    @Component({
        props: ['id','datetime'],
        created: async function (this: EditRental) {
            await this.initialize();
        }
    })
    export default class EditRental extends Vue {

        carServiceState = carServiceSingleton;
        id: number;
        keyBrand: string = null;
        keyType: string = null;
        rental: GetARentalByIdResponse = {
            carId: null,
            rentId: null,
            rentTime: null,
            userId: null,
            _response: null
        };
        showData: boolean = false;
        datetime: Datetime;

        async initialize() {
            await this.getARent();
            await this.initializeBrands();
        }

        async getARent() {
            console.log("getARent Running");
            let api = new Exam4({
                baseUri: window.location.origin
            });
            let result = await api.getARentalById(Number(this.id));
            let aRent = result._response.parsedBody;
            this.rental = result;
            console.log("getARent in edit vue : ", this.rental);
        }

        async initializeBrands() {
            await this.carServiceState.getBrands();
            if (this.keyBrand != null) {
                await this.carServiceState.getTypes(this.keyBrand);
            }
        }

        //async rents() {
        //    //this.rental = this.carServiceState.rental;
        //    //console.log("current rental 2 : ", this.rental);
        //    this.rental = this.carServiceState.rental;
        //    return this.rental;
        //}

        get brands() {
            return this.carServiceState.brands;
        }

        async initializeTypes() {

            if (this.keyBrand != null) {
                await this.carServiceState.getTypes(this.keyBrand);
                console.log(this.carServiceState.types);
            }
        }

        async findCar() {
            if (this.keyBrand !== null && this.keyType !== null) {
                await this.carServiceState.getACar(this.keyBrand, this.keyType);
            }
        }

        get car() {
            return this.carServiceState.car;
        }

        get types() {
            return this.carServiceState.types;
        }

        async updateRent() {
            this.rental.carId = this.car.carId;
            this.rental.rentTime = this.datetime;
            await this.carServiceState.updateRent(this.rental);

            this.rental = {
                carId: null,
                rentId: null,
                rentTime: null,
                userId: null,
                _response: null
            };
            window.location.href = "https://localhost:44377/CarViewPage/RentalIndexCar";
        }

    }
</script>
