<template>
    <div class="form-group">
        <form method="post">
            <label>Brand : </label>
            <select @change="initializeTypes()" v-model="keyBrand" id="asd" class="custom-select">
                <option v-for="brand in brands" v-bind:value="brand">{{brand}}</option>
            </select>
            <br />
            <label>Type : </label>
            <select @change="findCar()" v-model="keyType" class="custom-select">
                <option v-for="type in types" v-bind:value="type">{{type}}</option>
            </select>
            <br />
            <fieldset disabled>
                <label for="disabledTextInput">Car avalaible : </label>
                <input v-model="car.vehicleRegistrationNumber":placeholder="[[ car.vehicleRegistrationNumber ]]" type="text" id="disabledTextInput" class="form-control"/>
            </fieldset>
            <br />
            <button class="btn-primary" type="button" @click.prevent="rentCar()">Rent Car</button>
        </form>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { CarViewModel, RentModel } from '../rest-api/models';
    import { carServiceSingleton } from '../services/carServices';

    @Component({
        created: async function (this: InsertRental) {
            await this.initializeBrands();
        }
    })
    export default class InsertRental extends Vue {
        carServiceState = carServiceSingleton;
        keyBrand: string = null;
        keyType: string = null;
        aCar: CarViewModel = {};
        rental: RentModel = {};

        async initializeBrands() {
            await this.carServiceState.getBrands();
            if (this.keyBrand != null) {
                await this.carServiceState.getTypes(this.keyBrand);
            }
        }

        get brands() {
            return this.carServiceState.brands;
        }

        async initializeTypes() {

            if (this.keyBrand != null) {
                await this.carServiceState.getTypes(this.keyBrand);
                console.log(this.carServiceState.types);
            }
        }

        async findCar() {
            if (this.keyBrand !== null && this.keyType !== null) {
                await this.carServiceState.getACar(this.keyBrand, this.keyType);
            }
        }

        get car() {
            return this.carServiceState.car;
        }

        get types() {
            return this.carServiceState.types;
        }

        async rentCar() {
            this.rental.carId = this.car.carId;
            await this.carServiceState.addRental(this.rental);

            this.rental = {};
            window.location.href = "https://localhost:44377";
        }
    }
</script>
