@page
@model Exam4Works.Pages.CarViewPage.InsertCar

@{
}

<div>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Form.Brand"></label>
            <input asp-for="Form.Brand" class="form-control"/>
            <span asp-validation-for="Form.Brand"></span>
        </div>

        <div class="form-group">
            <label asp-for="Form.Type"></label>
            <input asp-for="Form.Type" class="form-control"/>
            <span asp-validation-for="Form.Type"></span>
        </div>

        <div class="form-group">
            <label asp-for="Form.VehicleRegistrationNumber"></label>
            <input asp-for="Form.VehicleRegistrationNumber" class="form-control"/>
            <span asp-validation-for="Form.VehicleRegistrationNumber"></span>
        </div>

        <div class="custom-file">
            <label asp-for="Form.Image"></label>
            <input asp-for="Form.Image" class="form-control-file"/>
            <span asp-validation-for="Form.Image"></span>
        </div>

        <br />

        <div>
            <button class="btn-primary" type="submit">Insert Car</button>
        </div>

    </form>
</div>