@page
@model Exam4Works.Pages.User.Register

@{
//    Layout = null;
}

<div class="container" style="margin-top:30px">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <strong>Register</strong>
                </h3>
            </div>
            <div class="panel-body">
                <form method="post" role="form">
                    <div class="form-group">
                        <label asp-for="Form.Username">Username</label>
                        <input asp-for="Form.Username" class="form-control" placeholder="Enter usernmae" />
                        <span asp-validation-for="Form.Username"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Form.UserPassword">Password</label>
                        <input asp-for="Form.UserPassword" class="form-control" type="password" />
                        <span asp-validation-for="Form.UserPassword"></span>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-sm btn-default btn-light">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>